torch==0.3.0post4
tensorflow==1.0.0a6
tensorboardX=0.8
numpy==1.13.3
matplotlib==2.1.1
jupyter==1.0.0
backcall==0.1.0
decorator==4.4.0
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.3.1
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
